<!DOCTYPE html>
<html>
<head>
    <title>ScEViz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.0/cytoscape.min.js" integrity="sha512-bg1QBgIk64XNmh8qAaxY2W6TKZ4/Q2sbPQLJ+1vhT3BD+DXXzAqhIbWdgeM82XWcbJKblEoSNhXiakf1NlWU3g==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
    <script src="{{ url_for('static', filename = 'node_modules/cytoscape-dagre/cytoscape-dagre.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = 'icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = 'icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename = 'icons/site.webmanifest') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Geo&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <b>ScEViz</b>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
        </div>

        <div class="side-bar">
            <div style="padding: 16px;">
                <h4>Label</h4>
                <p id="label">&nbsp;</p>
                <hr>
                <h4>Type</h4>
                <p id="type">&nbsp;</p>
                <hr>
                <h4>Description</h4>
                <p id="description">&nbsp;</p>
                <hr>
                <h4>Content</h4>
                <p id="content">&nbsp;</p>
                <hr>
            </div>
        </div>

        <div class="schema-left">
            <div id="cyl" class="cy"></div>
        </div>

        <div class="divline"></div>
        
        <div class="schema-right">
            <div id="cyr" class="cy"></div>
        </div>

        <div class="hline"></div>

        <div class="schema-evolution">
            simba
        </div>

        <div class="footer">
            <b>Universität Rostock</b> | Lehrstuhl für Datenbanken und Informationssysteme
        </div>
    </div>
    
    <script>
        var colors = {"Brick Red":"#d1364e",
                      "Mantis":"#81c784",
                      "Baby Blue Eyes":"#96c5f7",
                      "Maize Crayola":"#f7c548",
                      "Russian Violet":"#2c1452"}

        var schema = JSON.parse('{{ schema | tojson }}');

        var node_style = {
            selector: 'node',
            style: {
                shape: 'ellipse',
                'background-color': '#81c784',
                label: 'data(label)',
                'height': 20,
                'width': 20
            }
        }

        var edge_style = {
            selector: 'edge',
            style: {
                'curve-style': 'bezier',
                'line-color': '#eaeded'
            }
        }

        var cyl = cytoscape({
        container: document.getElementById('cyl'),
        elements: schema,
        // styling and layout
        layout: {
            name: 'dagre',
            rankDir: 'LR'
        },
        style: [
            node_style, edge_style
        ]
        });

        cyl.on('tap', 'node', function(evt){
            cyl.nodes().style('background-color', '#81c784')
            var node = evt.target;
            document.getElementById('label').innerHTML = node.data('label');
            document.getElementById('type').innerHTML = node.data('type');
            var description = node.data('description');
            if (description == null) {
                description = '&nbsp;';
            }
            document.getElementById('description').innerHTML = description;
            var content = node.data('content');
            if (content == null) {
                content = '&nbsp;';
            }
            document.getElementById('content').innerHTML = content;

            if(content[0] === '#') {
                var nodes = cyl.nodes(`[id^="#/$def/award"]`);
                nodes.style('background-color','#7e387b');
            }  
        });

        cyl.autoungrabify(true);

        var cyr = cytoscape({
            container: document.getElementById('cyr'),
            elements: schema,
            // styling and layout
            layout: {
                name: 'dagre',
                rankDir: 'LR'
            },
            style: [
                node_style, edge_style
            ]
            });

            cyr.on('tap', 'node', function(evt){
                cyr.nodes().style('background-color', '#81c784');
                var node = evt.target;
                document.getElementById('label').innerHTML = node.data('label');
                document.getElementById('type').innerHTML = node.data('type');
                var description = node.data('description');
                if (description == null) {
                    description = '&nbsp;';
                }
                document.getElementById('description').innerHTML = description;
                var content = node.data('content');
                if (content == null) {
                    content = '&nbsp;';
                }
                document.getElementById('content').innerHTML = content;

                if(content[0] === '#') {
                    var nodes = cyr.nodes(`[id^="#/$def/award"]`);
                    nodes.style('background-color','#7e387b');
                }
            });

            cyr.autoungrabify(true);
    </script>
</body>

</html>

