.color-1 {color: #81c784;}
.color-2 {color: #52be80;}
.color-3 {color: #27ae60;}
.color-4 {color: #f2f4f4;}
.color-5 {color: #f4f6f6;}
.color-6 {color: #eaeded;}

@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

html { font-family: sans-serif; background: #eee; height: 100%;}
body { height: 100%; background: white; margin: 0;}
nav { background-color: #27ae60; top: 0%; width: 100%;}
nav h1 { font-family: sans-serif; color:#5a5a5a6e; margin: 0;}
.cy {
    width: 100%;
    height: 100%;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 1fr 1fr 2px 1fr 1fr;
    grid-template-rows: auto 1fr 2px 15% auto;
}
.header {
    grid-column: 1 / span 6;
    grid-row: 1;
    background-color: #27ae60;
    color:#f2f4f4;
    font-size: 30pt;
    font-family: 'Geo', sans-serif;
    display: flex;
    align-items: center;
}
.upload-button {
    position: absolute;
    right: 20px;
}

form {
    display: flex;
    margin: auto;
    position: absolute;
    right: 20px;
}

form input {
    margin: auto;
}

.schema-left {
    grid-column: 2 / span 2;
    grid-row: 2;
}
.schema-right {
    grid-column: 5 / span 2;
    grid-row: 2;
}

.schema-evolution {
    grid-column: 2 / span 6;
    grid-row: 4
}

.divline {
    background-color: grey;
    grid-column: 4;
    grid-row: 2;
}

.hline {
    background-color: grey;
    grid-column: 2 / span 6;
    grid-row: 3;
}

.side-bar {
    background-color: #eaeded;
    grid-column: 1;
    grid-row: 2 / span 4;
}

.footer {
    grid-column: 1 / span 6;
    grid-row: 5;
    background-color: #27ae60;
    color: white;
}